#watchlistCards {
    display: grid;
    margin: auto;
    padding-top: 50px;
    max-width: 36rem;
    grid-gap: 50px;
    border-width: 0px;
    height: 100%
}

#newWatchlistForm {
    padding: 10px;
}

input {
    border-radius: 8px;
}

#showInfo {
    color: rgb(214, 64, 64);
}